* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: darksalmon;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
h1#text {
  animation: fadeIn 1s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.controls {
  position: absolute;
  bottom: 20px;
  background: rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 18px;
}
input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: darksalmon;
  border: none;
  text-align: center;
  outline: none;
  appearance: none;
}
input:before, input:after {
  content: '';
}
